@font-face {
  font-family: "iconfont"; /* Project id 3272817 */
  src: url('iconfont.woff2?t=1651735569068') format('woff2'),
       url('iconfont.woff?t=1651735569068') format('woff'),
       url('iconfont.ttf?t=1651735569068') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-houtui:before {
  content: "\e61d";
}

.icon-qianjin1:before {
  content: "\e608";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-kechengjieshao1:before {
  content: "\e620";
}

.icon-yulan:before {
  content: "\e664";
}

.icon-paihangbang:before {
  content: "\e7bc";
}

.icon-fuzhikecheng:before {
  content: "\e617";
}

.icon-kemushezhi:before {
  content: "\e602";
}

.icon-kechengjieshao:before {
  content: "\e63b";
}

.icon-guanliyuanpeizhi:before {
  content: "\e693";
}

.icon-xueyuanguanli1:before {
  content: "\e6ac";
}

.icon-tuiguang:before {
  content: "\e63d";
}

.icon-kechengshuju:before {
  content: "\e610";
}

.icon-daochuneirong:before {
  content: "\e615";
}

.icon-gouxuan:before {
  content: "\e60f";
}

.icon-guanbi:before {
  content: "\e662";
}

.icon-sucaiku:before {
  content: "\e6eb";
}

.icon-sucaiku-1:before {
  content: "\e68a";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-qianjin:before {
  content: "\e62d";
}

.icon-caidanguanli:before {
  content: "\e658";
}

.icon-xiaoxi:before {
  content: "\e711";
}

.icon-caozuorizhi:before {
  content: "\e61c";
}

.icon-wentifankui:before {
  content: "\e60e";
}

.icon-nav-log-center:before {
  content: "\e6ed";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-xitongjiankong:before {
  content: "\e663";
}

.icon-RectangleCopy:before {
  content: "\e6e6";
}

.icon-kechengguanli:before {
  content: "\e646";
}

.icon-ziyuanxhdpi:before {
  content: "\e654";
}

.icon-xitongjiankong1:before {
  content: "\e63c";
}

.icon-xueyuanguanli:before {
  content: "\e61a";
}

.icon-wenjianjia:before {
  content: "\e600";
}

